
<nav class="navbar navbar-expand-lg navbar-dark bg-primary animated fadeIn">
  <a class="navbar-brand" routerLink="home">
    <img src="../../assets/images/logo-arkano.png" width="30" height="30" class="d-inline-block align-top" alt="">
    ArkanoSoft test
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item justify-content-center">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/computadoras">Computadoras</a>
      </li>
    </ul>
    <div class=" txt-navbar-left">
      <span unselectable="on" class="navbar-text">
        Martin Hernán Barria Joost
      </span>
    </div>
    
  </div>
</nav>
