<br />
<div class="container">
  <div class="jumbotron animated fadeInUp">
    <h1 class="display-4">Hello, Arkano Chile!</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p style="font-weight: 400 !important;">
      Una simple muestra Web SPA montada en <b>.NetCore </b>(VisualStudio) , como framework usando <b>Angular</b> y para los estilos <b>Bootstrap</b>. <br />
      Haciendo un buen comportamiento del servicio REST en la sección <a routerLink="/computadoras"> computadoras</a> haga el servicio REST correctamente
    </p>
    <a class="btn btn-outline-primary" routerLink="/computadoras" role="button">Ir a Computadores</a>
  </div>
</div>
